.App {
  display: flex;
}

.App * {
  box-sizing: border-box;
}

.app__half {
  width: 50%;
  height: 100vh;
  border: 1px solid red;
}

.half--left {
  background-color: #f6f6f6;
}

.half--right {
  padding: 2rem;
}